@model IEnumerable<L02P02_2021_EC_601_2021_MG_603.Models.libros>

@{
    ViewData["Title"] = "Listado de Libros";
}

<h2>Listado de Libros</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().titulo)</th>
            <th>@Html.DisplayNameFor(model => model.First().autor)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.titulo)</td>
                <td>@Html.DisplayFor(modelItem => item.autor.autor)</td>
                <td>
                    @Html.ActionLink("Ver Comentarios", "Index", "ComentariosLibros", new { id = item.id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
